.color_verde_primary{
    background-color: #5ba34a;
}
.color_verde_secundary{
    background-color: #4a9d7a;
}
.color_verde_secundary_link_active{
    background-color: #418f6e;
}
.color_azul{
    background-color: #1f2453;
}
body{
    border-top: 5px solid #5ba34a;
    font-family: Arial, Helvetica, sans-serif;
}
#logocebib{
    background-repeat: no-repeat;
    background-position: center left;
    height: 115px;
    display: block;
    padding-top: 30px;
}
img {
border: none;
}
#adaptar_imagen{
    width: 500px;
    float: left;
    position: absolute;
}
#adaptar_logo{
    width: 60px;
    padding-right: 10px;
    float: left;
    position: relative;
}
#contacto{
    text-align: right;
    padding: 20px 10px 10px;
}
#headerContainer{
    min-height: 115px;
}
#headerTop{
    height: 100%;
}
#topRight{
    height: 115px;
    padding-left: 580px;
}
.navbar-default{
    border-width: 1px 0 0;
    border-style: solid none none;
    background-color: #4a9d7a;
    background-image: none;
}
.navbar-default a{
    color: #ffffff!important;
}
.navbar-default a:hover {
    color: #c7cbc9!important;
}
.navbar-default a:active {
    color: #418f6e!important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #ffffff;
}

#tab_principal{
    
    border: none;
}
#tab_principal ul{    
    background-color:#ffffff;
    background-image: none;
    border: none;
}
.ui-tabs{
    background-color:#ffffff;
}
.ui-tabs-panels{
    background-color: #418f6e;
}
.ui-tabs-panel table tbody tr td{
    color: #ffffff;
}

.ui-tabs-panel table tbody tr td img{
    width: 350px;
    height: auto;
    float: left;
    position: relative;
    padding-right: 20px;
}

#tab_principal ul li{
    background-color: #4a9d7a;
    background-image: none;
    outline-style: none;
    border: #4a9d7a;
    padding-bottom: 10px;
    padding-left: 119px;
    padding-right: 120px;
}
.ui-state-active{
    background-color: #418f6e!important;

}

.ui-state-default{
    border: #4a9d7a;

}
#tab_principal ul li a{    
    background-image: none;
    color:#ffffff;
    font-weight: normal;
}

.panelGridCenter {
    margin: 0 auto;
}

#loading{
    color: #5ba34a;
    font-weight: bold;
}

.no-border{
    border: 0px;
}

.no-border .ui-datalist-content{
    border: 0px;
}

.form-label{
    margin-top: 20px;
}

.alert-danger p{
    color: rgb(185, 74, 72);
}

#probab-form{
    margin-top: 145px;
    margin-left: 350px;
    position:absolute;
    z-index:100;
}
#pnl{
    z-index:95;
}
.disabled {
   z-index:94;
   pointer-events: none;
   cursor: default;
   color: gray;
}