.color_verde_primary{
    background-color: #5ba34a;
}
.color_verde_secundary{
    background-color: #4a9d7a;
}
.color_verde_secundary_link_active{
    background-color: #418f6e;
}
.color_azul{
    background-color: #1f2453;
}
body{
    border-top: 5px solid #5ba34a;
    font-family: Arial, Helvetica, sans-serif;
}
#logocebib{
    background-repeat: no-repeat;
    background-position: center left;
    height: 115px;
    display: block;
    padding-top: 30px;
}
img {
border: none;
}
#adaptar_imagen{
    width: 500px;
    float: left;
    position: absolute;
}
#adaptar_logo{
    width: 60px;
    padding-right: 10px;
    float: left;
    position: relative;
}
#contacto{
    text-align: right;
    padding: 20px 10px 10px;
}
#headerContainer{
    min-height: 115px;
}
#headerTop{
    height: 100%;
}
#topRight{
    height: 115px;
    padding-left: 580px;
}
.navbar-default{
    border-width: 1px 0 0;
    border-style: solid none none;
    background-color: #4a9d7a;
    background-image: none;
}
.navbar-default a{
    color: #ffffff!important;
}
.navbar-default a:hover {
    color: #c7cbc9!important;
}
.navbar-default a:active {
    color: #418f6e!important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #ffffff;
}